<html>
  <head>
    <title>When I Chirp You Chirp</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div id = "wrapper">
      <div id = "head">
      <h1>Chirp Chirp Chirp </h1>
      </div>

      <div id = "colLeft"></div>

      <div id = "colRight"></div>

    </div>
  </body>
</html>
